.inputField {
    padding: 10px 14px;
    font-size: 16px;
    border: 0.75px solid #9B71F1;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
  }
  
  
  .small {
    width: 216.45px;
    height: 54.97px;
  }
  
  .medium {
    width: 288px;
    height: 65px;
  }
  
  .large {
    width: 316px;
    height: 50px;
  }
  
  .xlarge {
    width: 351.55px;
    height: 54.97px;
  }

  .chatSize {
    width: 400px;
    height: 45px;
    border-radius: 30px;
  }
  
  .white {
    background-color: #FFFFFF;
  }

  .purple1 {
    background-color: #E0C3FE;
  }
  
  .purple2 {
    background-color: #F5F1FE;
  }
  
  .purple3 {
    background-color: #E0C3FE;
  }
  
  .inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .inputFieldWithButton {
    padding-right: 48px !important;
  }
  
  .rightButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  
  