.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;
}

.section {
  width: 100%;
  background-color: #312e81;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.sectionTitle {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 500;
}

.tagButton {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modalContent {
  background: #181633;
  border-radius: 32px;
  width: 312px;
  box-shadow: 0 4px 32px #0008;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 24px 24px;
  margin: auto;
}

.modalTitle {
  color: white;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
}

.modalTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  gap: 150px;
}
