.page {
    background: linear-gradient(180deg, #9B71F1 0%, #3F3A87 18.27%, #0F0E21 100%);
    color: #fff;
    min-height: 100vh;
    max-width: 402px;
    margin: 0 auto;
    font-family: 'Geist', 'Inter', Arial, sans-serif; /*change to lexend later*/
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 45px;
    padding-bottom: 80px; /* for bottom nav */
    overflow-x: hidden;
  }
  
  .logoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 0 16px;
  }
  .logo {
    height: 30px;
    padding-left: 125px;
  }

  .banner {
    display: flex;
    justify-content: center;
    margin: 20px 0 0; /* 往下移一點，增加上方空間 */
    padding: 0 16px;  /* 加一點 padding 避免太貼邊 */
  }
  
  .bannerImg {
    width: 100%;
    max-width: 360px; /* 控制最大寬度 */
    height: auto;
    border-radius: 12px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 160px));
    justify-content: center;
    gap: 12px 12px;
  }