.page {
    background: linear-gradient(180deg, #9B71F1 0%, #3F3A87 18.27%, #0F0E21 100%);
    color: #fff;
    min-height: 100vh;
    max-width: 402px;
    margin: 0 auto;
    font-family: 'Geist', 'Inter', Arial, sans-serif; /*change to lexend later*/
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 45px;
    padding-bottom: 80px; /* for bottom nav */
    overflow-x: hidden;
  }
  
  .logoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 0 16px;
  }
  .logo {
    height: 30px;
    padding-left: 125px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 每列兩個 */
    gap: 16px; /* 卡片之間的間距 */
    padding: 16px;
  }