.container {
    border-radius: 15px; 
    padding: 16px;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    text-align: center;
    word-break: break-word;
    white-space: pre-line;
  }

  /* Color */

  .black {
    background-color:  #000000;
  }

  .darkPurple {
    background-color:  #0F0E21;
  }

    /* Border */

  .border {
    border: 1px solid #C2FF3E;
  }

  /* Size */

  .small {
    width: 335px;
    height: 80px;
    border-radius: 8px;
  }
  
  .medium {
    width: 374px;
    border-radius: 8px;
  }
  
  .large {
    width: 328px;
    height: 702px;
    border-radius: 8px;
  }

  .channelSize {
    width: 177px;
    height: 177px;
    border-radius: 8px;
  }

  /* Text */

  .Regular {
    font-size: 16px;
    font-weight: Regular;
    font-family: Lexend;
    text-align: left;
  }

  .Bold {
    font-size: 16px;
    font-weight: bold;
    font-family: Lexend;
    text-align: left;
  }

  .ExtraBold_Channel {
    font-size: 16px;
    font-weight: ExtraBold;
    font-family: Lexend;
    text-align: left
  }

  .Regular_Channel {
    font-size: 10px;
    font-weight: Regular;
    font-family: Lexend;
    text-align: left;
  }

  .ExtraLight_Channel {
    font-size: 7.6px;
    font-weight: ExtraLight;
    font-family: Lexend;
    text-align: left;
  }

  .Bold_CommunityRules {
    font-size: 19px;
    font-weight: Bold;
    font-family: Lexend;
    text-align: center
  }

  .Regular_CommunityRules {
    font-size: 13px;
    font-weight: Regular;
    font-family: Lexend;
    text-align: left
  }

 /* Wrapper */

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


   /* Image */

.image {
  width: 100%;
  max-width: 162px;
  height: 92.4px;
  margin: 8.4px 7.87px 76.2px; 
  border-top-left-radius: 10px;  
  border-top-right-radius: 10px;  
  border-bottom-left-radius: 0;   
  border-bottom-right-radius: 0;
  object-fit: cover;
}

  /* Text Group */
  
.textGroup {
  text-align: center;
  margin-bottom: 7px;
}