.progressBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
}
.progressBarImage {
  width: auto;
  height: 40px;
  max-width: 100%;
  display: block;
}



