.page {
  width: 402px;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  background-image: url(/background.svg);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  position: relative;
  width: 268px;
  height: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.logomark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.button {
  justify-self: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding-top: 600px;
}

.centeredLogomark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

body, .page {
  cursor: url('data:image/svg+xml;utf8,<svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.5926 21.9983C24.4488 24.7373 26.3123 27.491 27.7625 30.4712C28.1278 31.2209 28.4525 32.1635 27.9691 32.839C27.5743 33.392 26.7625 33.5033 26.1278 33.2695C25.4931 33.032 24.9986 32.5272 24.5521 32.0151C22.5077 29.6621 21.0169 26.8861 19.5446 24.1323C19.0833 27.5764 18.7217 31.1689 17.8471 34.6538C17.7254 35.14 17.5888 35.6336 17.3194 36.053C17.0464 36.4723 16.6146 36.8175 16.1202 36.862C15.4781 36.9214 14.8766 36.4612 14.574 35.8897C14.2714 35.3181 14.2013 34.6538 14.157 34.008C13.895 30.3413 14.1127 26.656 14.3341 22.9893C12.1459 25.6651 10.0315 28.5116 7.41886 30.8609C6.80999 31.4101 5.99817 31.9594 5.238 31.6588C4.66234 31.4324 4.35606 30.7644 4.36345 30.1446C4.37083 29.5248 4.62913 28.9347 4.89482 28.378C6.31921 25.383 8.10892 22.5773 9.89124 19.779C6.98343 18.9662 4.15311 18.0161 1.53681 16.6578C0.828312 16.2904 0.0460054 15.7597 0.00172401 14.958C-0.0351772 14.2752 0.525718 13.6702 1.16411 13.4438C1.80619 13.2137 2.51101 13.2768 3.1863 13.3585C5.66975 13.6554 8.13105 14.1675 10.5296 14.8838C9.47425 12.0558 8.46316 9.14618 7.7768 6.1586C7.66979 5.70211 7.57384 5.23078 7.63288 4.76687C7.69192 4.30296 7.93179 3.83533 8.35246 3.6275C8.83587 3.38998 9.43736 3.55329 9.85434 3.89473C10.2713 4.23616 10.537 4.72233 10.7842 5.2048C12.2049 7.97341 13.2677 10.9091 14.3673 13.8298C14.4559 10.3004 14.5592 6.68931 15.836 3.40112C16.146 2.59948 16.5519 1.79414 17.242 1.2894C17.932 0.784668 18.9763 0.68075 19.6073 1.26342C20.1608 1.77558 20.2309 2.61434 20.2309 3.36773C20.2383 6.98994 19.4597 10.5639 18.9505 14.1824C21.4007 10.9981 24.3307 8.18497 27.6075 5.86913C28.1241 5.50171 28.6776 5.13801 29.3049 5.06379C29.9323 4.98956 30.6518 5.29017 30.8474 5.89511C31.0504 6.51861 30.6445 7.16436 30.257 7.69507C27.9913 10.7866 25.5669 13.7593 22.9247 16.7024C26.4746 16.6912 30.0393 16.6801 33.5633 17.1217C34.0947 17.1885 34.6372 17.2702 35.1095 17.5262C35.5818 17.7823 35.9767 18.25 35.9988 18.7881C36.0247 19.3633 35.6224 19.8903 35.1279 20.1761C34.6298 20.4619 34.0504 20.5547 33.4822 20.64C29.8695 21.1744 26.2348 21.553 22.5852 22.0058L22.5926 21.9983Z" fill="%23D6FF7E"/></svg>') 0 0, auto;
}














/* DEFAULT page.module.css

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

//Enable hover only on non-touch devices
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

*/